<h1>About</h1>

<p>
	This is a project by <%= link_to "Felix Norton", "http://facebook.com/felixfenixumlungu" %>
	to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month using <%= link_to "One Month Rails", "http://onemonthrails.com" %>
	This is the sample application.
</p>	

