<div class="hero-unit">
	<div class="row">
	  <div class="span8">
	  	<h1>Welcome friend</h1>
		<p>
			You've found the home page for 
			<%= link_to "Felix Nortons", "http://facebook.com/felixfenixumlungu" %>
			first application.
		</p>
		<p>
			<%= link_to "Clicky!", "#", class: "btn btn-primary btn-large" %>
		</p>

	  </div>
	</div>
</div>





